Language: Cpp
Standard: Cpp11
BasedOnStyle: WebKit
NamespaceIndentation: None
IndentCaseLabels: true
AllowShortCaseLabelsOnASingleLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AllowShortLoopsOnASingleLine: true
