name: libcosim CI CMake

# This workflow is triggered on pushes to the repository.
on: [push]

env:
  CONAN_LOGIN_USERNAME_OSP: ${{ secrets.osp_artifactory_usr }}
  CONAN_PASSWORD_OSP: ${{ secrets.osp_artifactory_pwd }}
  CONAN_REVISIONS_ENABLED: 1
  CONAN_NON_INTERACTIVE: 1

jobs:
  cmake-on-linux:
    name: CMake
    runs-on: ${{ matrix.os }}
    env:
      CC: gcc-${{ matrix.compiler_version }}
      CXX: g++-${{ matrix.compiler_version }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-18.04]
        build_type: [Debug, Release]
        compiler_version: [7]

    steps:
      - uses: actions/checkout@v2
      - name: Install prerequisites
        run: |
          sudo apt-get install -y --no-install-recommends \
            doxygen \
            libboost-all-dev \
            libmsgsl-dev \
            libyaml-cpp-dev \
            libxerces-c-dev \
            libzip-dev
          wget \
              "https://github.com/viproma/debian-fmilib/releases/download/debian%2F2.0.3-1/libfmilib2_2.0.3-1_amd64.deb" \
              "https://github.com/viproma/debian-fmilib/releases/download/debian%2F2.0.3-1/libfmilib2-dev_2.0.3-1_amd64.deb"
          sudo dpkg -i libfmilib2_2.0.3-1_amd64.deb libfmilib2-dev_2.0.3-1_amd64.deb
      - name: CMake - configure
        run: |
          cmake \
            -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
            -DCMAKE_PREFIX_PATH=fmilibrary \
            -DCMAKE_INSTALL_PREFIX=install \
            -B build
      - name: CMake - build
        run: cmake --build build
      - name: CMake - build doc
        run: cmake --build build --target doc
      - name: CMake - test
        run: |
          cd build
          ctest
      - name: CMake - install
        run: |
            cmake --build build --target install
            cmake --build build --target install-doc
      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: libcosim-${{ runner.os }}-${{ matrix.build_type }}-gcc${{ matrix.compiler_version }}
          path: install

  cmake-on-windows:
    name: CMake
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-2016, windows-2019]
        build_type: [Debug, Release]

    steps:
      - uses: actions/checkout@v2
      - name: Install prerequisites
        run: |
          pip3 install --upgrade setuptools pip
          pip3 install conan
          choco install doxygen.install
          conan remote add osp https://osp.jfrog.io/artifactory/api/conan/conan-local --force
          conan install . -s build_type=${{ matrix.build_type }} -g deploy
      - name: CMake - configure
        shell: bash
        run: |
          cmake . \
            -A x64 \
            -DCMAKE_PREFIX_PATH="ms-gsl;boost;fmilibrary;libzip;xerces-c;yaml-cpp;bzip2;zlib" \
            -DCMAKE_INSTALL_PREFIX=install \
            -B build
      - name: CMake - build
        run: cmake --build build --config ${{ matrix.build_type }}
      - name: CMake - build doc
        run: cmake --build build --config ${{ matrix.build_type }} --target doc
      - name: CMake - test
        run: |
          .\activate_run.ps1
          cd build
          ctest -C ${{ matrix.build_type }}
      - name: CMake - install
        run: |
            cmake --build build --config ${{ matrix.build_type }} --target install
            cmake --build build --config ${{ matrix.build_type }} --target install-doc
      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: libcosim-${{ runner.os }}-${{ matrix.build_type }}
          path: install
