name: libcosim CI Conan

# This workflow is triggered on pushes to the repository.
on: [push, workflow_dispatch]

jobs:
  conan-on-linux:
    name: Conan
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        build_type: [Debug, Release]
        compiler_version: [7, 8, 9]
        compiler_libcxx: [libstdc++11]
        option_proxyfmu: ['proxyfmu=True', 'proxyfmu=False']
        option_shared: ['shared=True', 'shared=False']
    timeout-minutes: 35

    steps:
      - uses: actions/checkout@v2
      - name: Generate Dockerfile
        run: |
          mkdir /tmp/osp-builder-docker
          cat <<'EOF' >/tmp/osp-builder-docker/Dockerfile
          FROM conanio/gcc${{ matrix.compiler_version }}
          ENV CONAN_LOGIN_USERNAME_OSP=${{ secrets.osp_artifactory_usr }}
          ENV CONAN_PASSWORD_OSP=${{ secrets.osp_artifactory_pwd }}
          ENV CONAN_REVISIONS_ENABLED=1
          ENV CONAN_NON_INTERACTIVE=1
          ENV CONAN_USE_ALWAYS_SHORT_PATHS=1
          ENV LIBCOSIM_RUN_TESTS_ON_CONAN_BUILD=1
          COPY entrypoint.sh /
          ENTRYPOINT /entrypoint.sh
          EOF
      - name: Generate entrypoint.sh
        run: |
          cat <<'EOF' >/tmp/osp-builder-docker/entrypoint.sh
          #!/bin/bash -v
          set -eu
          cd /mnt/source
          conan remote add osp https://osp.jfrog.io/artifactory/api/conan/conan-local --force
          REFNAME="${GITHUB_REF#refs/*/}"
          VERSION="v$(<version.txt)"
          if [[ $GITHUB_REF == refs/tags/* ]] && [[ $REFNAME == $VERSION ]]; then CHANNEL="stable"
          elif [[ $REFNAME == master ]]; then CHANNEL="testing"
          else
            SHORT_REFNAME="${REFNAME:0:40}"
            CHANNEL="testing-${SHORT_REFNAME//\//_}"
          fi
          conan create -s build_type=${{ matrix.build_type }} -s compiler.version=${{ matrix.compiler_version }} -s compiler.libcxx=${{ matrix.compiler_libcxx }} -o ${{ matrix.option_proxyfmu }} -o ${{ matrix.option_shared }} -b missing . osp/${CHANNEL}
          conan upload --all -c -r osp '*'
          EOF
          chmod 0755 /tmp/osp-builder-docker/entrypoint.sh
      - name: Print stuff
        run: | 
          echo "Printing variable CHANNEL:"
          echo "$CHANNEL"        
          echo "Printing variable GITHUB_REF:"
          echo "$GITHUB_REF"
          echo "Priting variable REFNAME:"
          echo "$REFNAME"
          echo "Printing variable VERSION:"
          echo "$VERSION"
          echo "Priting variable SHORT_REFNAME:"
          echo "$SHORT_REFNAME"
      - name: Build Docker image
        run: |
          docker build -t osp-builder /tmp/osp-builder-docker/
      - name: Build cosim
        run: |
          docker run --rm --env GITHUB_REF="$GITHUB_REF" -v $(pwd):/mnt/source:ro osp-builder


  conan-on-windows:
    name: Conan
    runs-on: ${{ matrix.os }}
    env:
      CONAN_LOGIN_USERNAME_OSP: ${{ secrets.osp_artifactory_usr }}
      CONAN_PASSWORD_OSP: ${{ secrets.osp_artifactory_pwd }}
      CONAN_REVISIONS_ENABLED: 1
      CONAN_NON_INTERACTIVE: 1
      CONAN_USE_ALWAYS_SHORT_PATHS: 1
      CONAN_USER_HOME_SHORT: C:\c
      LIBCOSIM_RUN_TESTS_ON_CONAN_BUILD: 1
    strategy:
      fail-fast: false
      matrix:
        os: [windows-2019]
        build_type: [Debug, Release]
        option_proxyfmu: ['proxyfmu=True', 'proxyfmu=False']
        option_shared: ['shared=True', 'shared=False']
    timeout-minutes: 35

    steps:
      - uses: actions/checkout@v2
      - name: Install prerequisites
        run: |
          pip3 install --upgrade setuptools pip
          pip3 install conan
      - name: Configure Conan
        run: conan remote add osp https://osp.jfrog.io/artifactory/api/conan/conan-local --force
      - name: Conan create
        shell: bash
        run: |
          REFNAME="${GITHUB_REF#refs/*/}"
          VERSION="v$(<version.txt)"
          if [[ $GITHUB_REF == refs/tags/* ]] && [[ $REFNAME == $VERSION ]]; then CHANNEL="stable"
          elif [[ $REFNAME == master ]]; then CHANNEL="testing"
          else
            SHORT_REFNAME="${REFNAME:0:40}"
            CHANNEL="testing-${SHORT_REFNAME//\//_}"
          fi
          conan create -s build_type=${{ matrix.build_type }} -o ${{ matrix.option_proxyfmu }} -o ${{ matrix.option_shared }} -b missing . osp/${CHANNEL}
      - name: Conan upload
        run: conan upload --all -c -r osp '*'
